.facilities-main{
   background-color: white;
}


.overview-sec {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 50px;
   padding-left: 60px;
   padding-right: 60px;
   
   color: black;
}

.overview-te {
   flex: 1;
  
}

.overview-te h1 {
   font-size: 29px;
   margin-bottom: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-weight:bold;
   color: black
}

.overview-te p {
   font-size: 17px;
   margin-bottom: 20px;
   color: black
}

 .overview-imag{
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   margin-left: 25px;
 }

 .overview-imag img {
   width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 5px;
 }

 .cta-butt {
   display: inline-block;
   padding: 15px 20px;
   background-color: green;
   color: #fff;
   text-decoration: none;
   border-radius: 5px;
 }

 .cta-butt:hover {
   background-color: #02671f;
 }

 

 .explore-section {
    margin: 40px 0;
    
  }

  .explore-content {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 17px;
   
    margin-bottom: 100px;
  }

 .explore-image,
 .explore-imagesecond {
    width: 35%;
    height: auto;
    padding-right: 10px;
    border-radius: 5px;
    padding-left: 0px;
  }

  .explore-text {
   color: black;
    text-align: justify;
    
    
  }

  

  .explore-text h3{
   font-size: 23px;
   width: 55%;
   
   font-weight:bold;
   color: black
  }

  

 

 


 .odd {
  flex-direction: row-reverse;
  padding-left: 0px;
 }

 .odd h3 {
   color: black
  }

  .odd p {
   padding-right: 15px;
   color: black 
   
  }
 

 